* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-right: 35px;
}
nav i {
    display: inline;
    font-size: 200%;
    vertical-align: sub;
    margin-left: 20px;
    border: 1px solid brown;
    border-radius: 100%;
    padding: 0.5rem;

}

nav section .links {
    display: inline-block;
    width: 165px;
    font-size: 0.9rem;
    border: 1px solid rgb(207, 157, 157);
    border-radius: 30%;
    padding: 1rem;
    text-decoration: none;
    text-align: center;
    background-color: rgb(172, 196, 199);
    color: rgb(23, 25, 27);
    font-family: Georgia, "Times New Roman", Times, serif;
}

.footer {
    background-color: rgb(217, 215, 215);
    color: rgb(70, 42, 42);
    font-size: 1.2rem;
    padding: 0.7rem;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
}

@media screen and (max-width: 900px) {
    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    nav section.links {
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    a {
        margin: 0.25rem;
    }
}
